<div class="top_bar">
    <div class="cont-fluid">
        <div class="row">
            <div class="col-2 logo">
                <div style=" width: 168px">
                    <a href="/" title="home"
                       style="  background-image: url('/images/logo.png');background-repeat :no-repeat;  background-size: 100% 100%">
                    </a>
                </div>
            </div>
            <div class="col-2 time">
                <time id="time"></time>
                <script>
                    document.getElementById("time").innerHTML = (new Date()).toDateString()
                </script>
            </div>
            <div class="col-2 lang">
                eng vi
            </div>
            <div class="col-2">
                <a href="/<%= props.admin_path %>">
                    Admin
                </a>
                <a href="/signup">signup</a>
                <a href="/signin">signin</a>
            </div>
            <div class="col-2">
                <div>
                    <input placeholder="tim kiem" type="text"/>
                    <ul class="search_dropdown hidden">
                        <li>
                            asdas
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <button type="submit">Search</button>

            </div>
        </div>
    </div>
</div>

<header class="header">
    <div class="cont">
        <div class="row">
            <ul class="col-12 ">
                <li class="home"><a>Home</a></li>
                <% props.categories.forEach((category, index)=> { %>
                    <% if(category.type == "category" && category.visible == true ){ %>
                        <% if(index <= 5){ %>
                            <li class="category">
                                <a href="/<%= category.slug %>">
                                    <%= category.cate_name %>
                                </a>
                                <%# if(sub.length !== 0) { %>
                                <!--                                    <svg width="10px" height="10px">-->
                                <!--                                        <polyline points="1,2 5,5 9,2" stroke="#ddd" strokeWidth={2} fill="none"-->
                                <!--                                                  strokeLinejoin="round" strokeLinecap="round"/>-->
                                <!--                                    </svg>-->
                                <!--                                    <ul class="dropdown">-->
                                <!--                                        <%# sub.forEach((subcate, index)=>{ %>-->
                                <!--                                            <%# if(subcate.visible == true){ %>-->
                                <!--                                                <li>-->
                                <!--                                                    <a href="/<%#= category.slug %>/<%#= subcate.slug %>">-->
                                <!--                                                        <%#= subcate.cate_name %>-->
                                <!--                                                    </a>-->
                                <!--                                                </li>-->
                                <!--                                            <%# } %>-->
                                <!--                                        <%# }) %>-->
                                <!--                                    </ul>-->
                                <%# } %>
                            </li>
                        <% } %>
                    <% } %>
                <% }) %>
                <li class="show_all_btn">

                    <a ref="nofolow" href="#" >&#8759</a>

                </li>
            </ul>
        </div>
    </div>
</header>
<div class="bg"></div>
<div class="submenu">
    <div class="cont">
        <div class="row">
            <div class="col-3">
                <h2>The gioi</h2>
            </div>
        </div>
    </div>
</div>
<script>
    const el = document.querySelector(".top_bar")
    var home = document.getElementsByClassName("header")[0]
    const observer = new IntersectionObserver(
        ([e]) => {
            if (e.isIntersecting) {
                home.classList.remove("pin")
            } else {
                home.classList.add("pin")
            }
        },
        {threshold: [1]}
    );
    observer.observe(el)

    var show_all_btn = document.getElementsByClassName("show_all_btn")[0]
    var bg = document.getElementsByClassName("bg")[0]
    var submenu = document.getElementsByClassName("submenu")[0]
    show_all_btn.addEventListener("click", function (event){
        submenu.style.display = "block"
        bg.style.display= "block"
    })
</script>