<div id="message">
    <%= message %>
    <style>
        #message{
            font-size: large;
            color: black;
            background-color: chocolate;
            border-radius: 10px;
            padding: 10px 25px;
            
        }
    </style>
</div>
