<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <!-- for google search -->
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <!-- for facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.hosting.kr">
    <meta property="og:title" content="글로벌 IT 파트너 - 호스팅케이알(HK)">
    <meta property="og:image" content="//static.hostingcdn.net/20210811/resources/images/og_thumb_logo.png">
    <meta property="og:description" content="기업/공공도메인, 도메인연결/웹호스팅 무료, 서버, 아마존클라우드(AWS), G Suite, 홈페이지제작 1644-7378">

    <meta name="keywords" content=" gai trung, gai nhat , ao dai , mini skirt,  tin tuc gai xinh">
    <meta name="description" content="chuyen trang gai xinh nhat , gai xinh sexy">
    <meta name="dcterms.creator" content=" do hong">
    <meta name="dcterms.title" content=" album playboy v12 ">
    <meta name="dcterms.publisher" content="playboy thailan">
    <meta name="dcterms.date" content=" 26/8/2021">
    <meta name="dcterms.language" content=" en">
    <meta name="dcterms.subject" content="this page url">
    <!--this page url -->
    <meta name="dcterms.description" content=" full album sexy cua ngoc trinh">

    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">

    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/home.css' />
    <link rel='stylesheet' href='/css/home.css.map' />
    <!-- <link rel='stylesheet' href='/css/dark.css' /> -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

     <div class="container">
         <div class="row" style="--bs-rows: 3; --bs-columns: 3;">
             <div class="start-md-1 col-md-10" style="grid-row: 2;border: 1px solid sienna; border-radius: 5px;">
                 container</div>
         </div>
     </div>
     <div class="container-fluid" style="border: 1px slateblue solid;">
         <div class="rows" style="--rows: 5;">
             <div style="background-color: aquamarine;">container-fluid</div>
         </div>
     </div>
     <div style="margin-top: 50px;" class="d-sm-none d-md-block">
        abc
         <%-include("components/footer" )%>

     </div>
</body>

</html>
