// ------------------- header -------------------------

.top_bar
    height: 48px

    .logo
        a
            display: block
            width: 100%
            height: 48px

    a, time
        line-height: 24px
        font-weight: 400
        font-size: 1.3rem
        letter-spacing: -1px
        padding: 0 2px
        margin: 0 5px
        cursor: pointer

    div.col-2
        line-height: 48px
        display: inline
        position: relative

        input
            height: 24px
            padding: 0 0 0 10px
            border-radius: 3px
            outline: 1px solid #111
            width: 100%

        button
            //height: 24px
            margin-left: 10px
            padding: 4px
            border-radius: 3px
            cursor: pointer
            border: 1px solid #111

        ul.search_dropdown
            display: none
            position: absolute
            top: calc(100% + 10px)
            z-index: 1

// ----------------------- sub-header----------------------------------

.header
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1)
    position: sticky
    position: -webkit-sticky
    top: 0px
    z-index: 9999
    background-color: #fff
    transition: all .4s

    &.pin
        box-shadow: 0 3px 8px rgba(0, 0, 0, .15)
        ul.col-12
            > li.home
                transform: translateX(0)
                opacity: 1
                width: 54.52px

    ul.col-12
        position: relative
        > li.home
            transform: translateX(-25%)
            width: 0
            opacity: 0
            a
                font-weight: 900
                font-size: 1.65rem

        > li
            transition: all .4s
            display: inline-block
            a
                line-height: 27px
                padding: 0px 8px
                letter-spacing: -1px
                font-weight: 600
                font-size: 1.5rem
                color: #888
                display: block

                &:first-letter
                    text-transform: uppercase

            &:hover:nth-child(odd) > a
                color: #b88000

            &:hover:nth-child(even) > a
                color: #923a3c

            ul.dropdown
                display: none
                position: absolute
                z-index: 2
                top: 100%
                background-color: #333
                width: 190px

                > li
                    border-bottom: 2px solid green
                    display: block
                    overflow: hidden

                    a
                        display: block
                        font-size: 1.6rem
                        padding: 4px 5px
                        color: #ddd
                        white-space: nowrap

                    &:last-child
                        border-bottom-left-radius: 5px
                        border-bottom-right-radius: 5px

        >li.show_all_btn
            position: absolute
            right: 0
            a
                font-size: 2.7rem
                color: #aaa
                transition: transform 0.3s
                &:hover
                    border-radius: 50%
                    transform: scale(1.1)
                    color: #923a3c
.bg
    position: absolute
    top: 0
    left: 0
    height: 100%
    display: none
    width: 100%
    z-index: 50
.submenu
    position: absolute
    display: none
    width: 100%
    z-index: 100
    .cont
        .row
            padding-top: 15px